html {
  scroll-padding-top:35px; /* height of sticky header */
}

.navbar{
    background: #bae9e4;
  }
  
  .navbar a:hover {
    color: black;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
  }

  #list{
      margin-top: 60px;
      width: 100%;
  }

  h1{
    text-align: center;
    font-size: 78px;
    text-shadow: 4px 4px 4px #aaa;
  }

  #footer{
    margin-top: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.70;
    color: #fff;
    background: #70bee2;
  }